// header背景色
$color-00b240: #00ba40;
$color-09b52d: #09b52d;
$color-00b52d: #00b52d;
$color-04730e: #04730e;
$color-333: #333;
$color-228f2f: #228f2f;
$color-35b53f: #35b53f;
$color-57c15d: #57c15d;
$color-f6f8f9: #f6f8f9;
$color-cecece: #cecece;
$color-cbcbcb: #cbcbcb;
$color-d8d8d8: #d8d8d8;
$color-dfdfdf: #dfdfdf;
$color-eaeaea: #eaeaea;
$color-475265: #475265;
$color-42a84b: #42a84b;
$color-40a94a: #40a94a;
$color-35b14f: #35b14f;
$color-cccccc: #ccc;
$color-c1c1c1: #c1c1c1;
$color-e1e1e1: #e1e1e1;
$color-4a4a4a: #4a4a4a;
$color-f2f2f2: #f2f2f2;
$color-fafafa: #fafafa;
$color-e6e6e6: #e6e6e6;
$color-00b240-opacity94: rgba(0, 178, 64, 0.94);
$index-header-bgcolor: rgba(0,0,0,0.28);