.el-button--success {
  color: #fff;
  background-color: #35B53F;
  border-color: #35B53F;
}

.el-button--success.is-plain {
  color: #04730E;
  background: #fff;
  border-color: #35B53F;
}

.dynamicMicroWeb {
  position: relative;
  margin: 0 auto;
  overflow: hidden;

  &::before {
    content: "";
    display: table;
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  .pageTitle {
    padding: 34px 22px 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 31px;
    font-size: 24px;
    color: #333333;

    span {
      vertical-align: middle;
      display: inline-block;
      width: 80%;
      margin-left: 30px;
      font-size: 14px;
      color: #999;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .dynamicBody {
    position: relative;
    min-height: 700px;
    background: #fff;
    padding: 36px 36px 53px;
    padding-left: 387px;

    &::before {
      content: "";
      display: table;
    }

    &::after {
      content: "";
      display: table;
      clear: both;
    }

    .tipPOpShow {
      z-index: 100;
      position: absolute;
      top: 520px;
      left: 370px;

      .tipPopCon {
        position: relative;
        width: 230px;
        height: 56px;
        line-height: 56px;
        text-align: left;
        border-radius: 2px;
        padding: 0 15px;
        background-color: #424242;
        -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.14);
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.14);

        p {
          font-size: 14px;
          color: #fff;
        }

        .el-icon-close {
          right: 5px;
          top: 5px;
          cursor: pointer;
          position: absolute;
          font-size: 14px;
          color: #fff;
        }

        .el-icon-caret-left {
          position: absolute;
          top: 50%;
          left: -14px;
          transform: translate(0, -50%);
          font-size: 22px;
          color: #424242;
        }
      }
    }

    .dy-left {
      position: absolute;
      left: 36px;
    }

    .dy-right {
      box-sizing: border-box;
      display: block;
      float: initial;
      position: relative;
      padding-bottom: 50px;
      min-height: 620px;

      .cover {
        z-index: 99;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 50px;
          height: 50px;
          transform: translate(-50%, -50%);
        }
      }

      .menuTitle {
        position: relative;
        padding: 2px 20px 15px;
        line-height: 26px;
        font-size: 20px;
        color: #4A4A4A;
        border-bottom: 1px solid #E6E6E6;

        button {
          float: right;
          color: #04730E;
        }
      }

      .menuList {
        padding: 24px;

        .menuLi {
          position: relative;
          line-height: 34px;
          margin-bottom: 30px;

          &::before {
            content: "";
            display: table;
          }

          &::after {
            content: "";
            display: table;
            clear: both;
          }

          label {
            float: left;
            margin-right: 20px;
            line-height: 40px;
            font-size: 14px;
            color: #333333;
          }

          .el-input {
            float: left;
            width: 300px;
          }

          .entryTip {
            margin-top: 8px;
            margin-left: 100px;
            line-height: 16px;
            font-size: 12px;
            color: #999999;
            letter-spacing: 0.2px;
            word-break: break-all;
          }

          .avatar {
            width: 50px;
            height: 50px;
            display: block;
          }

          .imgUpload {
            position: absolute;
            top: 0;
            left: 140px;
            min-width: 60px;
            margin: 0;
            padding: 5px;
          }

          .uploadTip {
            position: absolute;
            top: 36px;
            left: 140px;
            margin: 0;
          }
        }

        .pncLabel {
          margin-bottom: 20px;
          line-height: 24px;
          font-size: 14px;
          color: #666666;
          letter-spacing: 0.9px;
        }

        .configSelect {
          line-height: 34px;
          margin-bottom: 30px;
          padding-left: 50px;
          background: url(../../assets/img/click.png) no-repeat 0 11px;
          cursor: pointer;

          &::before {
            content: "";
            display: table;
          }

          &::after {
            content: "";
            display: table;
            clear: both;
          }

          .el-input {
            float: left;
            width: 300px;
          }

          label {
            float: left;
            margin-right: 20px;
            line-height: 40px;
            font-size: 14px;
            color: #333333;
          }

          .entryTip {
            margin-left: 100px;
            line-height: 16px;
            font-size: 12px;
            color: #999999;
            letter-spacing: 0.2px;
            word-break: break-all;
          }
        }

        .clickzed {
          background: url(../../assets/img/clicked.png) no-repeat 0 11px;
        }

        .dynamicBtn {
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }

    .onceTip {
      z-index: 9;
      padding: 0 20px;
      line-height: 600px;
      text-align: center;
    }

    .dyStyle {
      position: absolute;
      right: -330px;
      top: 0;
      height: 100%;
      padding-left: 43px;

      .dyPullRight {
        z-index: 9;
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        width: 43px;
        padding-left: 12px;
        text-align: center;
        line-height: 18px;
        font-size: 14px;
        color: #FFFFFF;
        cursor: pointer;

        .dyArrow {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%);
          width: 12px;
          height: 28px;
          line-height: 28px;
          border-radius: 2px 0 0 2px;
          background: #2F9D37 url("../../assets/img/arrowLeft.png")no-repeat center;
          background-size: 6px;
        }

        .openArrow {
          background: #2F9D37 url("../../assets/img/arrowRight.png")no-repeat center;
          background-size: 6px;
        }

        .dyArrowText {
          padding: 10px 4px;
          background: #35B53F;
          border-radius: 6px 0 0 6px;
        }
      }

      .dyStyleList {
        position: relative;
        width: 330px;
        height: 100%;
        background: #FFFFFF;
        overflow: auto;

        .dyStyleTitle {
          font-size: 24px;
          line-height: 80px;
          text-align: center;
        }

        .dyStyleCon {
          position: absolute;
          top: 80px;
          bottom: 0;
          left: 0;
          right: 0;
          overflow-y: hidden;

          .dyStyleLi {
            float: left;
            width: 135px;
            margin-left: 20px;
            line-height: 16px;
            font-size: 12px;
            color: #999999;
            letter-spacing: 0.2px;
            text-align: center;
            cursor: pointer;

            &:hover .dyStyleImg {
              border: 1px solid #09B52D;
            }

            &:hover p {
              color: #333333;
            }

            .dyStyleImg {
              height: 240px;
              margin-bottom: 10px;
              font-size: 0;
              border: 1px solid transparent;
              background: url("../../assets/img/typeFour.png")no-repeat;
              background-size: 100% 100%;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            }

            .dyStyleImgOne {
              background: url("../../assets/img/typeOne.png")no-repeat;
              background-size: 100% 100%;
            }

            .dyStyleImgTwo {
              background: url("../../assets/img/typeTwo.png")no-repeat;
              background-size: 100% 100%;
            }

            .dyStyleImgThree {
              background: url("../../assets/img/typeThree.png")no-repeat;
              background-size: 100% 100%;
            }

            .dyStyleImgFour {
              background: url("../../assets/img/typeFour.png")no-repeat;
              background-size: 100% 100%;
            }

            .dyStyleImgOne:hover {
              background: url("../../assets/img/typeOneC.png")no-repeat;
              background-size: 100% 100%;
            }

            //.dyStyleImgTwo:hover{
            //  background: url("../../assets/img/orgCodeB.png")no-repeat;
            //  background-size: 100% 100%;
            //}
            //.dyStyleImgThree:hover{
            //  background: url("../../assets/img/orgCodeB.png")no-repeat;
            //  background-size: 100% 100%;
            //}
            //.dyStyleImgFour:hover{
            //  background: url("../../assets/img/orgCodeB.png")no-repeat;
            //  background-size: 100% 100%;
            //}
            .dyStyleNow .dyStyleImgOne {
              background: url("../../assets/img/orgCodeB.png")no-repeat;
              background-size: 100% 100%;
            }

            .dyStyleNow .dyStyleImgTwo {
              background: url("../../assets/img/orgCodeB.png")no-repeat;
              background-size: 100% 100%;
            }

            .dyStyleNow .dyStyleImgThree {
              background: url("../../assets/img/orgCodeB.png")no-repeat;
              background-size: 100% 100%;
            }

            .dyStyleNow .dyStyleImgFour {
              background: url("../../assets/img/orgCodeB.png")no-repeat;
              background-size: 100% 100%;
            }

            p {
              margin-bottom: 40px;
            }
          }

          .dyStyleNow {
            .dyStyleImg {
              border: 1px solid #09B52D;
              box-shadow: none;
            }

            p {
              color: #333333;
            }
          }
        }
      }
    }

    .resetList {
      z-index: 100;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);

      .cover {
        width: 100%;
        height: 100%;
      }

      .viewAll {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .resetPop {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
        min-width: 800px;
        background: #fff;
        overflow: hidden;

        .resetTitle {
          position: relative;
          height: 66px;
          padding: 27px 24px 0;
          line-height: 20px;
          font-size: 16px;
          color: #333333;
          letter-spacing: -0.98px;
          font-weight: 600;

          u {
            position: absolute;
            top: 22.4px;
            right: 24px;
            display: block;
            width: 22.6px;
            height: 22.6px;
            background: url("../../assets/img/resetClose.png")no-repeat;
            background-size: 100% 100%;
            cursor: pointer;
          }
        }

        .resetContent {
          padding: 0 24px;
          border-top: 1px solid #E7E7E7;
          border-bottom: 1px solid #E7E7E7;

          .resetChoose {
            margin: 12px 0;
            line-height: 24px;
            font-size: 14px;
            color: #333333;
            letter-spacing: 0.2px;

            input {
              width: 40px;
              margin: 0 5px;
              padding: 0 10px;
            }
          }

          .el-table {
            line-height: 60px;
            font-size: 14px;
            color: #333333;
            letter-spacing: 0;

            .el-table__header th,
            .el-table__header tr {
              line-height: 48px;
              background: #F2F2F2;
              font-weight: 600;
            }

            .cell {
              line-height: 60px;
              font-size: 14px;
              color: #333333;
              letter-spacing: 0;
            }
          }
        }

        .resetBtn {
          padding: 16px 30px 20px;
          text-align: right;
        }
      }
    }

    .moreShow {
      right: 0;
      transition: right 0.5s ease;

      .dyStyleList {
        box-shadow: -4px 0 12px #E6E6E6;
      }
    }

    .hideShow {
      right: -330px;
      transition: right 0.5s ease;
    }

    .dy-phone {
      background: url('../../assets/img/phone.png') no-repeat;
      width: 306px;
      height: 620px;
      z-index: -1;

      .dy-phone-box {
        z-index: 1;
        position: relative;
        top: 72px;
        width: 270px;
        height: 477px;
        margin: 0 auto;
        word-break: break-all;
        overflow: auto;
        background: #F6F8FD;
      }

      .dy-phone-box::-webkit-scrollbar {
        width: 0;
        height: 0;
      }

      .dy-phone-content {
        position: relative;
        width: 270px;
        padding-top: 10px;

        .dyPhoneUl {
          overflow: hidden;
          padding-bottom: 10px;
        }

        .liHighLight {
          border: 1px solid #40A94A;
        }

        .dy-content {
          position: relative;

          li {
            position: relative;
            background-color: #FDFDFD;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            outline: none;
          }

          span {
            position: relative;
            z-index: 10;

            img {
              width: 10px;
              height: 10px;
            }
          }
        }

        .dy-content-S1 {

          li {
            width: 96%;
            margin: 0 auto;
            font-size: 0;
            cursor: pointer;

            img {
              width: 100%;
            }
          }
        }

        .dy-content-S2 {
          width: 96%;
          margin: 0 auto;
          overflow: hidden;

          li {
            position: relative;
            float: left;
            box-sizing: border-box;
            font-size: 0;
            border-radius: 4px;
            background: #fff;
            overflow: hidden;
            width: 44%;
            margin: 0 3%;
            padding: 0 5px 0 65px;
            cursor: pointer;

            img {
              position: absolute;
              top: 50%;
              left: 10px;
              -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
              width: 50px;
              height: 50px;
              border-radius: 100px;
            }

            p {
              margin: 0;
              line-height: 67px;
              font-size: 12px;
              color: #333333;
              letter-spacing: -0.41px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }
        }

        .dy-content-S3 {
          ul {
            width: 96%;
            margin: 0 auto;
            font-size: 0;
            overflow: hidden;
          }

          li {
            cursor: pointer;
          }

          .dy-content-S3-none {
            margin-bottom: 10px;

            img {
              width: 100%;
            }
          }

          .dy-content-S3-float {
            position: relative;
            float: left;
            box-sizing: border-box;
            font-size: 0;
            border-radius: 4px;
            background: #fff;
            overflow: hidden;
            width: 44%;
            margin: 0 3%;
            padding: 0 5px 0 65px;
            cursor: pointer;

            img {
              position: absolute;
              top: 50%;
              left: 10px;
              -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
              width: 50px;
              height: 50px;
              border-radius: 100px;
            }

            p {
              margin: 0;
              line-height: 67px;
              font-size: 12px;
              color: #333333;
              letter-spacing: -0.41px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }
        }

        .dy-content-S4 {
          position: relative;

          ul {
            position: relative;
          }

          li {
            position: relative;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            font-size: 0;
            background: #fff;
            overflow: hidden;
            cursor: pointer;

            img {
              width: 100%;
            }
          }

          .content-S4-left {
            width: 45%;

            img {
              width: 100%;
            }
          }

          .content-S4-top {
            position: absolute;
            top: 0;
            right: 0;
            width: 55%;
            height: 50%;
            border-left: 1px solid #f6f8fd;
            border-bottom: 1px solid #f6f8fd;
            overflow: hidden;

            img {
              position: absolute;
              top: 50%;
              left: 0;
              -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
            }
          }

          .content-S4-bottom {
            position: absolute;
            top: 50%;
            right: 0;
            width: 55%;
            height: 50%;
            border-left: 1px solid #f6f8fd;
            overflow: hidden;

            img {
              position: absolute;
              top: 50%;
              left: 0;
              -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
            }
          }
        }

        .dy-content-S5 {
          width: 100%;

          li {
            margin-right: 5.42px;
            left: 3px;
            height: 112px;
            cursor: pointer;

            img {
              margin-top: 0px;
              width: 100%;
              height: 111px;
            }
          }

          .content-S5-left {
            float: left;
            width: 46%;
            top: 4px;
          }

          .content-S5-right {
            float: left;
            width: 23.95%;
            top: 5px;
          }
        }

        .dy-content-S6 {
          width: 100%;
          height: 120px;

          li {
            margin-right: 5.42px;
            left: 3px;
            height: 112px;
            top: 4px;
            cursor: pointer;

            img {
              width: 100%;
              height: 111px;
            }
          }
        }

        .dy-content-S7 {
          ul {
            position: relative;
            overflow: hidden;
          }

          li {
            float: left;
            width: 25%;
            padding: 58px 0 17px;
            border-bottom: 1px solid #f6f8fd;
            border-radius: 0;
            text-align: center;
            cursor: pointer;

            &:hover {
              background: rgba(0, 0, 0, 0.05);
            }

            img {
              position: absolute;
              top: 23px;
              left: 50%;
              transform: translate(-50%, 0);
              width: 25px;
              max-height: 30px;
            }

            p {
              margin: 0 5px;
              line-height: 18px;
              font-size: 13px;
              color: #333333;
            }
          }

          span {
            position: absolute;
            bottom: 0;
            right: 0;
            display: block;
            width: 20px;
            height: 20px;
            text-align: center;
            background: #349dff;
            cursor: pointer;

            &:hover {
              background: #3A8EE6;
            }
          }
        }

        .dy-content-S8 {
          ul {
            position: relative;
            overflow: hidden;
          }

          li {
            float: left;
            width: 33.3%;
            padding: 63px 0 15px;
            text-align: center;
            cursor: pointer;

            &:hover {
              background: rgba(0, 0, 0, 0.05);
            }

            img {
              position: absolute;
              top: 14px;
              left: 50%;
              transform: translate(-50%, 0);
              width: 42px;
              max-height: 50px;
            }

            p {
              margin: 0 5px;
              line-height: 18px;
              font-size: 13px;
              color: #333333;
            }
          }

          span {
            position: absolute;
            bottom: 0;
            right: 0;
            display: block;
            width: 20px;
            height: 20px;
            text-align: center;
            background: #349dff;
            cursor: pointer;
            &:hover{
                background: #3A8EE6;
            }
          }
        }

        .dy-content-S9 {
          ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .dy-content-S9-full {
              width: 100%;
              height: 138px;
              margin-bottom: 10px;

              p {
                z-index: 9;
                position: absolute;
                top: 36px;
                left: 9%;
                width: 80%;
                font-size: 20px;
                font-weight: 600;
              }

              span {
                z-index: 9;
                display: block;
                position: absolute;
                bottom: 30px;
                left: 9%;
                width: 80%;
                font-size: 14px;
                color: #666;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }

              img {
                position: absolute;
                top: 50%;
                right: 8%;
                transform: translate(0, -50%);
                width: initial;
                max-width: 80%;
                height: 100px;
              }
            }

            .dy-content-S9-half {
              position: relative;
              width: 44%;
              margin: 0 3%;
              padding: 0 5px 0 70px;

              img {
                position: absolute;
                top: 50%;
                left: 10px;
                transform: translate(0, -50%);
                width: 50px;
                height: 50px;
                border-radius: 100px;
              }

              span {
                display: block;
                font-size: 12px;
                line-height: 67px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }
            }
          }
        }

        .dy-content-S10 {
          width: 100%;
          height: 80px;

          li {
            float: left;
            margin-right: 5.42px;
            width: 47.95%;
            height: 73px;
            top: 4px;
            left: 3px;
            cursor: pointer;

            img {
              width: 100%;
              height: 78px;
              margin-top: -2px;
            }
          }
        }

        .dy-content-S11 {
          width: 100%;
          height: 58px;

          li {
            float: left;
            margin-right: 5.42px;
            width: 98%;
            height: 50px;
            top: 4px;
            left: 3px;
            cursor: pointer;

            img {
              left: 45px;
              position: relative;
              width: 15%;
              height: 30px;
              top: 8px;
              margin: 0;
            }
          }
        }
      }

      .dy-phone-addition {
        position: absolute;
        bottom: 23px;
        width: 144px;
        margin-left: 50%;
        transform: translate(-50%, 0);

        button {
          width: 144px;
          height: 36px;
          background-color: #35B53F;
          border: none;
          outline: none;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          border-radius: 100px;
          cursor: pointer;

          img {
            width: 22px;
            height: 22px;
          }
        }
      }

      .dy-add-box {
        position: relative;
        overflow-y: auto;
        background-color: #E7E7E7;
        z-index: 20;
        bottom: 178px;
        word-break: break-all;
        word-wrap: break-word;
        transition: height 1s linear 2s;
        width: 270px;
        height: 250px;
        margin: 0 auto;
        margin: 0 auto;

        ul li {
          list-style-type: none;
        }

        ul {
          background: #FFFFFF;

          .dy-add-box-model {
            margin-bottom: 7.7px;

            &:last-child {
              margin: 0;
            }
          }
        }

        &::-webkit-scrollbar {
          width: 0;
          height: 0;
        }

        .dy-add-box-model {
          position: relative;
          width: 100%;
          left: 0;
          font-size: 0;

          img {
            width: 100%
          }
        }

        .dy-add-choose {
          z-index: 4;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.2);
          cursor: pointer;

          &:hover {
            background: rgba(0, 0, 0, 0.4);
          }

          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -20px);
            width: 48px;
            border-radius: 100px;
          }
        }
      }
    }
  }
}

.dy-application-configure {
  position: relative;
  top: 600px;
  left: 50px;

  & button {
    background-color: #0baae4;
    width: 220px;
    height: 45px;
    border: none;
    outline: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    & span {
      color: #FFF8F3;
      font-weight: bold;
    }
  }

  & button:active {
    background-color: #65e6ff;
    width: 220px;
    height: 45px;
    border: none;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}

.dy-dialog-box {
  position: absolute;
  width: 230px;
  height: 160px;
  background-color: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 100;
  top: 245px;
  opacity: 0.89;
  border: 2px solid #d8dde2;

  & .dy-dialog-title {
    position: relative;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #0baae4;
    top: 5px;
    left: 85px;
  }

  & .dy-dialog-content {
    display: block;
    top: 20px;
    text-align: center;
    position: relative;
    text-indent: 30px;
  }

  & .dy-dialog-footer {
    position: relative;
    top: 50px;
  }
}

.dy-cancel {
  position: relative;
  left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #ECF5FF;
  padding: 3px;
  color: #60AEFF;
  border: 1px solid #6CE;
  outline: none;
  width: 60px;
}

.dy-cancel:active {
  position: relative;
  left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #ECF5FF;
  padding: 3px;
  color: #60AEFF;
  border: 1px solid #65e6ff;
  outline: none;
  width: 60px;
}

.dy-confirm {
  position: relative;
  left: 55px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #66B1FF;
  padding: 3px;
  color: #FFF8F3;
  border: 1px solid #6CE;
  outline: none;
  width: 90px;
}

.dy-confirm:active {
  position: relative;
  left: 55px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #3A8EE6;
  padding: 3px;
  color: #FFF8F3;
  border: 1px solid #65e6ff;
  outline: none;
  width: 90px;
}

.dy-delete {
  position: relative;
  left: 55px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #ff3b33;
  padding: 3px;
  color: #FFF8F3;
  border: 1px solid #6CE;
  outline: none;
  width: 90px;
}

.dy-delete:active {
  position: relative;
  left: 55px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #f92f44;
  padding: 3px;
  color: #FFF8F3;
  border: 1px solid #65e6ff;
  outline: none;
  width: 90px;
}

.dy-edit {
  width: 300px;
  background-color: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  opacity: 0.89;
  position: absolute;
  border: 1px solid;
  z-index: 15;

  & .dy-edit-title {
    background-color: #65e6ff;
    position: absolute;
    width: 100%;
    border-bottom: 1px solid;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    font-size: 25px;
    font-weight: bold;
    font-family: '黑体';
    text-align: center;
  }

  & .dy-edit-content {
    position: relative;
    top: 30px;

    & .dy-edit-form {
      position: relative;
      text-align: center;
      left: 15px;

      & label {
        text-align: left;
        font-weight: bold;
        font-size: 18px;
        display: block;
        line-height: 40px;
      }

      & input {
        position: relative;
      }

      & input[type="file"] {
        visibility: hidden;
      }

      & img {
        z-index: 16;
        position: absolute;
        top: 76px;
        background-color: #fbfdff;
        border: 1px dashed #c0ccda;
        border-radius: 6px;
        box-sizing: border-box;
        line-height: 146px;
        vertical-align: top;
        width: 45px;
        height: 45px;
      }

      .dy-edit-confirm {
        position: relative;
        top: 10px;
        left: -68px;
      }
    }
  }
}

.dy-alter {
  width: 230px;
  height: 60px;
  top: 520px;
  left: 570px;
  position: absolute;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #5fe493;

  & span {
    font-size: 10px;
    font-weight: bold;
    font-family: '\9ED1\4F53';
    text-align: center;
    color: #0f2888;
    position: relative;
    top: 6px;
    left: 1px;
  }
}

.download-img {
  position: relative;
  left: 50%;
  color: blue;

  a:visited {
    color: #42f2ff;
  }

  a:visited {
    color: #349dff;
  }
}

.reset {
  top: 0px;
}

.public {
  top: 550px;
}

.deleteBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  color: #FE9470;
  line-height: 18px;
  text-align: center;
  border: 1px solid #FE9470;
  border-radius: 50px;
  background: #fefefe;
  cursor: pointer;

  &:hover {
    color: red;
    border: 1px solid red;
  }
}
